:root {
    --gray-dark: rgba(36, 42, 50, 1);
    --gray-med: #3A3F47;
    --gray-light: #67686D;
    --blue-1: rgba(2, 150, 229, 1);
    --orange: #FF8700
    --white: white;
}

*{
    box-sizing: border-box;
}
html {
    display: grid;
    justify-items: center;
    font-size: 62.5%;
    color: white;
}
body{
    position: relative;
    width: 450px;
    height: 780px;
    background-color: var(--gray-dark);
    font-size: 1.4rem;
    border: solid 2px white ;
    border-radius: 12px;
    overflow: hidden;


}
h1{
    color: white;
}
h2{
    color: white;
}
input{
    width: 100%;
    height: 30px;
    background-color: var(--gray-light);
    border: none;
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.header-search--container{
    display: flex;
}
.header-searchBar {
    position: relative;
}
.header-search--container input::placeholder {
    color: var(--blue-1);
    font-size: 1.6rem;
    font-weight: bold;
  }

.header-search--container #header--btnSearch {
    position: absolute;
    right: -15%;
    top: -10%;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
.header-search--back{
    background: none;
    border: none;
    font-size: 20px;
}

main {
    margin: 0 4px 0px 4px;

    overflow: hidden;
}

.main-movieDetail .num1 {
    display: flex;
}
.main-movieDetail .num3 {
    display: flex;
}



.main-trending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 0 16px;

}
.main-trending button{
    height: 30px;
    background-color: var(--gray-light);
    border: none;
    border-radius: 8px;
}
.main-trending button:hover{

    background-color: var(--blue-1);

}
/* main search */
.main-search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 570px;
    overflow-y: scroll;
    overflow-x: hidden;



}
.main-search .container-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    height: 200px;
    border-radius: 8px;
    margin: 0 0 36px 0;

}
.main-search .container-movie img{
    height: 100%;
    border-radius: 8px;
}
.main-search .container-movie h2{
    font-size: 12px;
    text-align: center;
    margin: 0;
}



/* ---------------- */
.main-movies--container{
    display: flex;
    gap: 24px;
    width: 100%;
    height: 251px;
    overflow-x: scroll;

}
.main-movies--container::-webkit-scrollbar {
    -webkit-appearance: none;
}
.main-movies--container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.main-movies--container .movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 150px;
    height: 200px;
    border-radius: 8px;

}
.main-movies--container .movie img{
    height: 100%;
    border-radius: 8px;
}
.main-movies--container .movie h2{
    font-size: 12px;
    text-align: center;
    margin: 0;
}
.main-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0 0;
}
.main-menu--buttons{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.main-menu--buttons button{
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.main-menu--buttons button:hover{
    background-color: var(--blue-1);
    border-radius: 8px;
}

.main-menu--movies {
    width: 100%;
    height: 210px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    overflow-y: scroll;
}
.main-menu--movies img{
    width: 100%;
}
.main-menu--movies::-webkit-scrollbar {
    -webkit-appearance: none;
}
.main-menu--movies::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.main-trending--full {
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    overflow-y: scroll;
}
.main-trending--full .movie{
    width: 120;
    height: 200px;
    border-radius: 8px;

}
.main-trending--full .movie img{

    height: 100%;
    border-radius: 8px;
}

.header-detail--datos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* Movie Detail*/
.main-movieDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    overflow-y: scroll;
}
.main-movieDetail img{

    height: 300px;
    border-radius: 12px;
    border: 2px solid white;
    
}
.main-movieDetail--description {
    width: 100%;
}

/* Similar movies */
.similar-movie{
    display: flex;
    gap: 4px;
    overflow-x: scroll;

}
.similar-container h3{
    width: 100%;
    text-align: center;
    color: var(--blue-1);

}
.main-movieDetail .similar-movie img {
    height: 200px;
    border: none
}
.main-movieDetail .similar-movie .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-movieDetail .similar-movie h2 {
    font-size: 12px;
}


footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: var(--gray-med);
    margin-top: 4px;
    border-top: solid 2px white;
    border-radius: 12px;

}
footer button {
    width: 70px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
footer button:hover {
    background-color: var(--blue-1);
    border-radius: 8px;
    width: 70px;
}

.inactive {
    display: none;
}